<!DOCTYPE html>
<html>

<head>
    <link rel="icon"
        href="/images/around-the-net-logo.png"
        type="image/png">
    <title>Page Not Found</title>
    <style>
        body {
            font-family: sans-serif;
            text-align: center;
            padding: 50px;
        }

        h1 {
            font-size: 3em;
            color: #cc0000;
        }

        p {
            font-size: 1.2em;
        }
    </style>
    <script defer src="/_vercel/insights/script.js"></script>
</head>

<body>
    <h1>404 - Not Found</h1>
    <p>
        <%= message %>
    </p>
    <a href="/" style="
  display: inline-block;
  background-color: #f0f0f057;
  padding: 12px 20px;
  margin-top: 20px;
  border-radius: 8px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
">
        Go back to homepage
    </a>

</body>

</html>