<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon"
        href="https://static.vecteezy.com/system/resources/previews/004/785/425/original/table-tennis-rackets-and-ball-vector.jpg"
        type="image/png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon"
        href="https://static.vecteezy.com/system/resources/previews/004/785/425/original/table-tennis-rackets-and-ball-vector.jpg"
        type="image/png">
    <title>Fixtures</title>
</head>

<body>
    <h1>We will be back with the fixtures after the auction</h1>
</body>

</html>